#navDemo{
    background-color: rgb(232, 224, 255) !important;

}
.w3-bar{
background-color: rgb(232, 224, 255) !important;
color:black !important;
}

.NavbarH{
   padding-top:14px !important;
}

.NavbarA{
    padding-top:8px !important;
 }

.Port{
    padding-bottom:9px !important;
}

.NavbarP{
    padding-top:0px !important;
 }

 .NavbarC{
    padding-top:13px !important;
 }

 .mail{
     padding-right:-300px !important;
 }
